
     
	<a href="#main_content" data-type="section-switch" class="return-to-top">
		<i class="fa fa-chevron-up"></i>
	</a>

	<div id="main_content">


		<!--=========================-->
		<!--=        Navbar         =-->
		<!--=========================-->
		<header id="discohead" class="dt-header" style="background-color:#111111">
			<div class="site-header-inner">
					<div class="topbar-wrapper clearfix"style="background-color:gold">
							<div class="container">
								<div class="topbar-left">
									<ul>
										<li><span>Email:</span> info@ekenya.co.ke</li>
										<li><span>Mob:</span> +254 20 271 0274</li>
									</ul>
								</div>
								<div class="topbar-right">
									<ul class="top-soc-link">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
									</ul>
								</div>
							</div>
							<!-- /.container -->
						</div>
	
				<div class="container">

					<div class="logo-wrap">
						<a id="logo" routerLink="home">
					<img  src="assets/eclectics-logo-white.png" alt="discovery" class="logo-contrast" width="245" height="65">
					<img src="assets/eclectics-logo-white.png" alt="discovery" class="logo-normal" width="245" height="65">
				</a>

					</div>
					<!-- /.logo-wrap -->

					<div id="nav-toggle" class="nav-toggle hidden-md">
						<div class="toggle-inner">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<!-- /.nav-toggle -->

					<div id="discovery-main-menu" class="discovery-main-menu">
						<ul id="menu-home" class="menu">
							<li class="menu-item-has-children">
								<a routerLink="">Home</a>
							
							</li>
							<li class="menu-item-has-children">
								<a routerLink="#">About Us</a>
								
							</li>

							<li class="menu-item-has-children">
                                <a routerLink="#">Products</a>
                                <ul class="sub-menu">
                                        <li><a routerLink="motorvehicleinsurance">Motor vehicle insurance</a></li>
                                        <li><a routerLink="personalvehicleinsurance">Personal vehicle insurance</a></li>
                                        <li><a routerLink="corporatevehicleinsurance">Corporate vehicle insurance</a></li>
                                    </ul>
								
							</li>
							<li class="menu-item-has-children">
								<a routerLink="#">Media center</a>
								
							</li>
							<li class="menu-item-has-children">
								<a routerLink="payment">Payment</a>
								
							</li>
							
							<li class="menu-item-has-children mega-menu">
								<a routerLink="contactus">Contacts</a>
							
							</li>
							<li class="menu-item-has-children ">
                                <button class="btn btn-primary small btn-bradius" (click)="openModalWithComponent()">Login</button>
                             
								
							</li>
						</ul>

					
					</div>
				</div>
				<!-- /.container -->

				<div class="search-box search-elem">
					<div class="close closebar-inner">
						<span class="bar"></span>
						<span class="bar"></span>
					</div>
					<div class="inner row">
						<div class="small-12 columns">
							<label class="placeholder" for="search-field">Search</label>
							<input type="text" id="search-field">
							<button class="submit" type="submit"><i class="fa fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
			<div class="search-box search-elem">
				<div class="close closebar-inner">
					<span class="bar"></span>
					<span class="bar"></span>
				</div>
				<div class="inner row">
					<div class="small-12 columns">
						<label class="placeholder" for="search-field">Search</label>
						<input type="text" id="search-field">
						<button class="submit" type="submit"><i class="fa fa-search"></i></button>
					</div>
				</div>
			</div>

		</header>
		<!-- #discohead -->


		<!--=========================-->
