


<!--=  
	
	Pricing Table         =-->
    <!--================================-->
    <app-header></app-header>
		
      <div id="main_content">
        
      
  <section id="pricing" data-parallax="image"  style=" background-image: url(assets/media/background/8.jpg)">
      <div class="container">
      
        <div class="row" >
          <div class="col-lg-4 col-md-6">
            <div class="gp-price-table-one clearfix wow fadeInUp" style="background-color:gold" data-wow-duration="1000ms" data-wow-delay="0.3s">
              <div class="price-table-container">
                <div class="price-inner">
                  <span class="currency"></span>
                  <span class="price"></span>
                </div>
                <h5 class="title">Motor Vehicle Insurance Premium</h5>
                <ul class="description" >
                    <li>Comprehensive</li>
                    <li>Third party only</li>
                </ul>
                <div class="price-table-button"style="color:black" >
                  <a class="gp-btn" routerLink="motorvehicleinsurance"> QUOTE</a>
                </div>
              </div>
            </div>
          </div>
          <!-- /.col-lg-4 col-md-6 -->

          <div class="col-lg-4 col-md-6">
            <div class="gp-price-table-one clearfix wow fadeInUp"style="background-color:gold" data-wow-duration="1000ms" data-wow-delay="0.3s">
              <div class="price-table-container">
                <div class="price-inner">
                  <span class="currency"></span>
                  <span class="price"></span>
                </div>
                <h5 class="title">Personal Vehicle Insurance Premium</h5>
                <ul class="description" >
                  <li>Comprehensive</li>
                  <li>Third party only</li>
                  
                </ul>
                <div class="price-table-button">
                  <a class="gp-btn" routerLink="personalvehicleinsurance">QUOTE</a>
                </div>
              </div>
            </div>
          </div>
          <!-- /.col-lg-4 col-md-6 -->

          <div class="col-lg-4 col-md-6">
            <div class="gp-price-table-one clearfix wow fadeInRight" style="background-color:gold"data-wow-duration="1000ms" data-wow-delay="0.3s">
              <div class="price-table-container">
                <div class="price-inner">
                  <span class="currency"></span>
                  <span class="price"></span>
                </div>
                <h5 class="title">Corporate Vehicle Insurance Premium</h5>
                <ul class="description">
                    <li>Comprehensive</li>
                    <li>Third party only</li>
                </ul>
                <div class="price-table-button">
                  <a class="gp-btn" routerLink="corporatevehicleinsurance">QUOTE</a>
                </div>
              </div>
            </div>
          </div>
          <!-- /.col-lg-4 col-md-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    
    <section id="testimonial" class="parallax-bg section-dark" data-parallax="image" data-bg-image="media/background/8.jpg">
      <div class="overlay-dark"></div>

      <div class="container">
        <div class="section-title text-center wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
          <h4>Client</h4>
          <h2>Our <span>Client</span></h2>
        </div>

        <div class="gp-testimonial-wrapper">
          <div class="swiper-container gp-slider wow fadeInUp" data-wow-delay="0.8s" data-swiper-config='{"loop": true, "speed": 700, "autoplay": 3000, "pagination":"#testimonial-swiper-pagination", "spaceBetween": 40, "grabCursor": true, "paginationClickable": true, "nextButton": "#testi-carousel-next", "prevButton": "#testi-carousel-prev", "breakpoints": { "2000": { "slidesPerView": 2 }, "768": { "slidesPerView": 1 }}}'>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="gp-testimonial">
                  <div class="gp-testmonial-content">
                    <span class="quote-icon">"</span>
                    <p>
                      I bought my third party car insurance with Pesabazaar.com. It was delivered in good time and above all I received the best advice and rates. 
                    </p>
                  </div>
                  <div class="gp-testimonial-author clearfix">
                    <div class="testi-thumb">
                      <img src="assets/media/testimonial/1.jpg" alt="">
                    </div>
                    <div class="author-details">
                      <h4 class="testi-author-name">Russell White</h4>
                      <span>Web Designer</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="gp-testimonial">
                  <div class="gp-testmonial-content">
                    <span class="quote-icon">"</span>
                    <p>
                      

Good rates for Third party insurance and a quick service. Well done.

                    </p>
                  </div>
                  <div class="gp-testimonial-author clearfix">
                    <div class="testi-thumb">
                      <img src="assets/media/testimonial/2.jpg" alt="">
                    </div>
                    <div class="author-details">
                      <h4 class="testi-author-name">Russell White</h4>
                      <span>Web Designer</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="gp-testimonial">
                  <div class="gp-testmonial-content">
                    <span class="quote-icon">"</span>
                    <p>
                    

You have a great customer service, you have answered all my questions today. I will tell everyone about you.

                    </p>
                  </div>
                  <div class="gp-testimonial-author clearfix">
                    <div class="testi-thumb">
                      <img src="assets/media/testimonial/3.jpg" alt="">
                    </div>
                    <div class="author-details">
                      <h4 class="testi-author-name">Russell White</h4>
                      <span>Web Designer</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="gp-testimonial">
                  <div class="gp-testmonial-content">
                    <span class="quote-icon">"</span>
                    <p>
                      

I bought my car insurance online and they delivered my insurance sticker within 2 hrs. Good rates and a great service.

                    </p>
                  </div>
                  <div class="gp-testimonial-author clearfix">
                    <div class="testi-thumb">
                      <img src="assets/media/testimonial/4.jpg" alt="">
                    </div>
                    <div class="author-details">
                      <h4 class="testi-author-name">Russell White</h4>
                      <span>Web Designer</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="slider-control">
            <!-- Add Arrows -->
            <div class="testi-prev" id="testi-carousel-prev">
              <i class="fa fa-angle-left"></i>
            </div>
            <div class="testi-next" id="testi-carousel-next">
              <i class="fa fa-angle-right"></i>
            </div>
          </div>
          <!-- /.slider-control -->

          <!-- Swiper Pagination -->
          <div class="swiper-pagination" id="testimonial-swiper-pagination"></div>
        </div>
        <!-- /.gp-testimonial-wrapper -->
      </div>
      <!-- /.container -->
    </section>
 </div>
 
 <app-footer></app-footer>